body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*nav bar*/

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

nav li {
    float: left;
}

    nav li a {
        display: block;
        color: #ffffff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        nav li a:hover {
            background-color: #111;
        }
/*navbar end*/

#jumbo{
    background-color:#fff;
}
/*Review Cards*/

.cardOne {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

    .cardOne:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.containerOne {
    padding: 2px 16px;
}

.cardTwo {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

    .cardTwo:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.containerTwo {
    padding: 2px 16px;
}

.cardThree {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

    .cardThree:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.containerThree {
    padding: 2px 16px;
}

.cardFour {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

    .cardFour:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.containerFour {
    padding: 2px 16px;
}

.cardFive {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

    .cardFive:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.containerFive {
    padding: 2px 16px;
}
/*Review Cards End*/